@import "tailwindcss";

:root {
  --nav-height: 0px;
  --hero-mobile-height: calc(453px + var(--nav-height));
  --hero-desktop-height: calc(100vh - var(--nav-height));
}

body {
  background-color: #FAFAFA;
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}

.font-jakarta {
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}

.font-cormorant {
  font-family: var(--font-cormorant), serif;
}
